# Streamlit
streamlit
streamlit-option-menu

# Hugging Face (if used for models)
transformers
datasets
huggingface_hub

# Deep learning (choose one if possible to reduce build size)
torch
torchvision
torchaudio
tensorflow   #uncomment only if your models need TF

# OCR
easyocr==1.7.1
pytesseract
# paddleocr    # optional, but may cause heavy build
# paddlepaddle # optional, but may fail on Streamlit Cloud

# Image processing
opencv-python-headless
scikit-image
Pillow
matplotlib
exifread

# Utilities
numpy
scipy
gdown
