# Streamlit
streamlit
streamlit-option-menu

# Hugging Face
transformers
datasets
huggingface_hub

# Deep learning
torch
torchvision
torchaudio
tensorflow

# OCR
easyocr==1.7.1
paddleocr
paddlepaddle
pytesseract

# Image processing
opencv-python==4.8.1.78
scikit-image
Pillow
matplotlib
exifread

# Utilities
numpy==1.23.5
scipy
gdown
