streamlit
opencv-python-headless==4.10.0.84
numpy==1.23.5
scipy
scikit-image
pillow
matplotlib
pytesseract
exifread
tensorflow
gdown
streamlit-option-menu
paddleocr
paddlepaddle
shapely
PyMuPDF
albumentations
